*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
     width: 100%;
     height: 80vh;
     background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/gym.jpg);
     background-size: cover;
     background-position: center;
}
.navbar1{
    width: 85%;
    margin: auto;
    padding: 35px 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 400px;
    cursor: pointer;
}
.navbar1 ul li{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    position: relative;

}
.navbar1 ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar1 ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: darkred;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.navbar1 ul li:hover:after{
    width: 100%;
}
.content{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
.content h1{
    font-size: 90px;
    margin-top: 10px;
}
.content p{
    margin: 30px auto;
    font-size: 28px;
    font-weight: 100;
    line-height: 25px;
}
button{
width: 200px;
padding: 15px 0;
text-align:    center;
margin: 10px 10px;
border-radius: 25px;
font-weight: bold;
border: 3px solid darkred;
background: transparent;
color: white;
cursor: pointer;
position: relative;
overflow: hidden;
}

span{
    background: darkred;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover {
    border: none;
}
:root{
    --primary-color: darkred;
    --secondary-color:  #726363;
    --font: 'poppins', sans-serif;
    
}
.row{
    display: flex;
    justify-content: center;
    margin-left: 0;
    padding: 0;
}
.card{
    width: 50%;
    height: 156px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.card h2{
    text-transform: uppercase;
}
.panel::after{
    content: " ";
    position: absolute;
    display: block;
    left: 40%;
    bottom: -10px;
    width: 20%;
    height: 2px;
    background-color: rgb(255, 255, 255);
   }
.panel {
    animation: animate 1s ease-in-out infinite alternate;
    color: #000000;
    letter-spacing: 2px;
    line-height: 50px;
    text-align: center;
    float: left;
    margin: 100px;
    border:none ;
    background-color: #ffd7b2; 
    border-radius: 30px;
    width: 20%;
    height: 400px;
    position: relative;   
}





h2{
    content: '';
    height: 3px;
    width: 100%;
    background:white;
    position: top;
    left: 10;
    bottom: center;
    transition: 0.3s;
    font-family: helvetica;
    color: white;
    font-size: 4rem;
    text-transform: uppercase;
    animation: animate 1s ease-in-out infinite alternate;
}


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
    margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  }
  nav{
    background: #e9500a;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 10px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #ff7402;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #000000;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #000000;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  section{
    background: url(gym.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
  }
  .hehe{
    background-color: rgb(255, 255, 255);
  }
  .list-group-item{
    color: #131313be;
  }
  .haha{
    color: rgb(31, 31, 31);
    font-size: 20px;
  }